@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  background-color: white;
  margin: 0;
}

h1 {
  color: #2446C2;
  font-family: "Rock Salt", cursive;
  font-size: x-large;
}

h2 {
  color: #2446C2;
  font-family: "Roboto", sans-serif;
  font-size: xxx-large;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 20px;
}

h4 {
  color: #2446C2;
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  margin: 10px 0 5px 0;
}

h5 {
  color: #2446C2;
  font-family: "Roboto", sans-serif;
  font-size: large;
  margin: 10px 0 10px 0;
}

p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  margin: 0;
}

/* Navigation Bar */
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 30px;
}

.nav-links a {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: medium;
  padding: 14px 10px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #2446C2;
  transition: 0.3s;
}

.logo {
  font-family: 'Rock Salt', cursive;
  font-size: x-large;
  color: #2446C2;
  margin-left: 20px;
}

/* Hero Section */
.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -8%);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.hero-button a {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: medium;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
}

.hero-button a:hover {
  background-color: #2446C2;
  color: white;
  transition: 0.3s;
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
}


/* Card Container */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding-right: 60px;
  padding-left: 60px;
}

.card {
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 4;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image {
  width: 100%;
}


/* Media Queries */
@media (max-width: 600px) {
  .card {
    grid-column: span 4;
  }

  .nav-links {
    display: none;
  }

  .logo {
    font-size: large;
  }
}

@media (min-width: 601px) and (max-width: 1199px) {
  .card {
    grid-column: span 2;
  }
}

@media (min-width: 1200px) {
  .card {
    grid-column: span 1;
  }
}